@use 'sass:map';
@use './tools/' as tools;

@use 'bold/index' as bold;
@use 'extralight/index' as extralight;
@use 'light/index' as light;
@use 'medium/index' as medium;
@use 'regular/index' as regular;
@use 'semibold/index' as semibold;
@use 'text/index' as text;
@use 'thin/index' as thin;

$font-prefix: '..' !default;
$unicode-ranges: ('SC-000','SC-001','SC-002','SC-003','SC-004','SC-005','SC-006','SC-007','SC-008','SC-009','SC-010','SC-011','SC-012','SC-013','SC-014','SC-015','SC-016','SC-017','SC-018','SC-019','SC-020','SC-021','SC-022','SC-023','SC-024','SC-025','SC-026','SC-027','SC-028','SC-029','SC-030','SC-031','SC-032','SC-033','SC-034','SC-035','SC-036','SC-037','SC-038','SC-039','SC-040','SC-041','SC-042','SC-043','SC-044','SC-045','SC-046','SC-047','SC-048','SC-049','SC-050','SC-051','SC-052','SC-053','SC-054','SC-055','SC-056','SC-057','SC-058','SC-059','SC-060','SC-061','SC-062','SC-063','SC-064','SC-065','SC-066','SC-067','SC-068','SC-069','SC-070','SC-071','SC-072','SC-073','SC-074','SC-075','SC-076','SC-077','SC-078','SC-079','SC-080','SC-081','SC-082','SC-083','SC-084','SC-085','SC-086','SC-087','SC-088','SC-089','SC-090','SC-091','SC-092','SC-093','SC-094','SC-095','SC-096','SC-097','SC-098','SC-100','SC-101','SC-102','SC-103','SC-104','SC-105','SC-106','SC-107','SC-108','SC-109','SC-110','SC-111','SC-112','SC-113','SC-114','SC-115','SC-116','SC-117','SC-118','SC-119','SC-120','SC-121','SC-122','SC-123','SC-124','SC-125','SC-126','SC-127','SC-128','SC-129','SC-130','SC-131','SC-132','SC-133','SC-134','SC-135','SC-136','SC-137','SC-138','SC-139','SC-140','SC-141','SC-142','SC-143','SC-144','SC-145','SC-146','SC-147','SC-148','SC-149','SC-150','SC-151','SC-152','SC-153','SC-154','SC-155','SC-156','SC-157','SC-158','SC-159','SC-160','SC-161','SC-162','SC-163','SC-164','SC-165','SC-166','SC-167','SC-168','SC-169','SC-170','SC-171','SC-172','SC-173','SC-174','SC-175','SC-176','SC-177','SC-178','SC-179','SC-180','SC-181','SC-182','SC-183','SC-184','SC-185','SC-186','SC-187','SC-188','SC-189','SC-190','SC-191','SC-192','SC-193','SC-194','SC-195','SC-196','SC-197','SC-198','SC-199','SC-200','SC-201','SC-202','SC-203','SC-204','SC-205','SC-206','SC-207','SC-208','SC-209','SC-210','SC-211','SC-212','SC-213','SC-214','SC-215','SC-216');
$-font-weights: (
	bold: true,
	extralight: true,
	light: true,
	medium: true,
	regular: true,
	semibold: true,
	text: true,
	thin: true
);
$font-weights: () !default;
$font-weights: map.merge($-font-weights, $font-weights);

@mixin all($font-prefix: $font-prefix, $unicode-ranges: $unicode-ranges) {
	@if tools.enabled($font-weights, 'bold') {
		@include bold.all($font-prefix, $unicode-ranges);
	}

	@if tools.enabled($font-weights, 'extralight') {
		@include extralight.all($font-prefix, $unicode-ranges);
	}

	@if tools.enabled($font-weights, 'light') {
		@include light.all($font-prefix, $unicode-ranges);
	}

	@if tools.enabled($font-weights, 'medium') {
		@include medium.all($font-prefix, $unicode-ranges);
	}

	@if tools.enabled($font-weights, 'regular') {
		@include regular.all($font-prefix, $unicode-ranges);
	}

	@if tools.enabled($font-weights, 'semibold') {
		@include semibold.all($font-prefix, $unicode-ranges);
	}

	@if tools.enabled($font-weights, 'text') {
		@include text.all($font-prefix, $unicode-ranges);
	}

	@if tools.enabled($font-weights, 'thin') {
		@include thin.all($font-prefix, $unicode-ranges);
	}
}

@mixin default($font-prefix: $font-prefix, $unicode-ranges: $unicode-ranges) {
	@if tools.enabled($font-weights, 'light') {
		@include light.all($font-prefix, $unicode-ranges);
	}

	@if tools.enabled($font-weights, 'regular') {
		@include regular.all($font-prefix, $unicode-ranges);
	}

	@if tools.enabled($font-weights, 'semibold') {
		@include semibold.all($font-prefix, $unicode-ranges);
	}
}